{% extends "layout.html" %}

{% block title %}
    Recommendations
{% endblock %}

{% block main %}
<div class="row recommendations">
    <div class="column_form">
        <h5 style="color: rgb(255, 255, 255);" class="text-center fw-bold">Urgent Recomendations</h5>
        <h4 style="color: rgb(255, 255, 255);">⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯</h4>
        {% for recommendation in large_r%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{recommendation}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>

    <div class="column_form">
        <h5 style="color: rgb(255, 255, 255);" class="text-center fw-bold">Important Recomendations</h5>
        <h4 style="color: rgb(255, 255, 255);">⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯</h4>
        {% for recommendation in mid_r%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{recommendation}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}